canvas {
  z-index: 100; /* o cualquier valor que sea suficientemente alto */
}

.btn_avatar{
  width: 7em;
  cursor: pointer;
}
.title_create_avatar {
  position: absolute;
  top: 0;
  margin-left: 23%;
  margin-top: 10%;
 
}
.title_create_avatar img {
width: 25em;
}
.img_avatar {
    position: fixed;
    bottom: 0;
    left: 37%;
    transform: translateX(-50%);
  }
 
  
  .img_avatar img {
    width: 25em;
  }
  
  .btn_exit img {
    width: 6em;
    cursor: pointer;

  }
  .btn_seconds{
    margin-top: 10%;
    display: grid;
    gap: 2em;
  

  }

  .menu {
    display: grid;
    justify-content: center;
    margin-top: -32em;
    margin-left: 65%;
    background-color: white;
    gap: 2px;
    padding: 3px;
    width: 30%;
    box-shadow:0px 7px 15px #000 ;

  }
  .box_type {
    display: flex;
    gap: 2px;
  }
  
  .type img{
    cursor: pointer;

  }
  .type img:hover{
    opacity: 0.2;

  }


  .datas {
    display: grid;
    justify-content: center;
    margin-top: 2em;
    margin-left: 65%;
    background-color: rgb(219, 219, 219);
    width: 30%;
    height: 20em;

    box-shadow:0px 7px 15px #000 ;
 
  }
 

  .box_datas {
    display: flex;
  }
.result_menu img{
  max-width: 100%;
  margin-bottom: 2em;
}
  .seconds_data{
   
    overflow: scroll;
    overflow-x: hidden;
  
    
  }
  .hair_avatar {
    position: absolute;
    margin-top: -133%;
    max-width: 100%;
    margin-left: 1%;
    z-index: 3;

  }
  .hair_avatar img{
    max-height: 100%;
    max-width: 100%;
    width: 130%;

  }


  .eyebrows_avatar {
    position: absolute;
    margin-top: -135%;
    max-width: 100%;
    margin-left: 1%;
    z-index: 3;

  }
  .eyebrows_avatar img{
    max-height: 100%;
    max-width: 100%;
    width: 130%;

  }


  .lips_avatar {
    position: absolute;
    margin-top: -132%;
    max-width: 100%;
    margin-left: 1%;
    z-index: 3;
  }
  .lips_avatar img{
    max-height: 100%;
    max-width: 100%;
    width: 130%;

  }

  .moustache_avatar {
    position: absolute;
    margin-top: -121%;
    max-width: 100%;
    margin-left: 10%;
    z-index: 4;

  }
  .moustache_avatar img{
    max-height: 100%;
    max-width: 100%;
    width: 90%;
   height: 150%;


  }

  .eae_avatar {
    position: absolute;
    margin-top: -135%;
    max-width: 100%;
    margin-left: 1%;
    z-index: 4;
  }
  .eae_avatar img{
    max-height: 100%;
    max-width: 100%;
    width: 150%;
  }

  
  

  .face_avatar {
    position: absolute;
    margin-top: -130%;
    max-width: 100%;
    margin-left: 1%;
    z-index: 1;
  }

  .face_avatar img{
    max-height: 100%;
    max-width: 100%;
    width: 130%;

  }

  .eyes_avatar {
    position: absolute;
    margin-top: -135%;
    max-width: 100%;
    margin-left: 2%;
    z-index: 4;

    
  }
  .eyes_avatar img{
    max-height: 100%;
    max-width: 100%;
    width: 160%;

  }

  .caps_avatar {
    position: absolute;
    margin-top: -133%;
    max-width: 100%;
    margin-left: 1%;
    z-index: 4;

  }
  .caps_avatar img{
    max-height: 100%;
    max-width: 100%;
    width: 130%;

  }
  
   .color {
    display: flex;
    justify-content: center;
    margin-left: 65%;
    background-color: rgb(219, 219, 219);
    padding: 15px;
    width: 30%;

    box-shadow:0px 7px 15px #000 ;
 
  }

  .color img {
    width: 30%;
    cursor: pointer;
  }


@media (max-width: 1800px) {
  .title_create_avatar {
    position: absolute;
    top: 0;
    margin-left: 15%;
    margin-top: 10%;
   
  }
  .title_create_avatar img {
  width: 22em;
  }
  .img_avatar img {
    width: 15em;
 max-width: 100%;

  }
  .btn_exit img {
    width: 5em;
    margin-left: -1em;
    max-width: 100%;

  }
.btn_seconds{
  margin-top: 5%;
  gap: 1em;
  max-width: 100%;


}
.menu {
 
  margin-top: -23em;
 max-width: 100%;

}



.result_menu img{
  margin-bottom: 2em;
}

.moustache_avatar {
  max-width: 100%;
  margin-left: 10%;

}
.moustache_avatar img{
  max-height: 100%;
  max-width: 100%;
  width: 90%;
 height: 150%;


}
.datas {
  display: grid;
  justify-content: center;
  margin-top: 2em;
  margin-left: 65%;
  background-color: rgb(219, 219, 219);
  width: 30%;
  height: 10em;

  box-shadow:0px 7px 15px #000 ;

}

.color {
  display: flex;
  justify-content: center;
  margin-left: 65%;
  background-color: rgb(219, 219, 219);
  padding: 15px;
  width: 30%;

  box-shadow:0px 7px 15px #000 ;

}


}
  