canvas {
  z-index: 2; /* o cualquier valor que sea suficientemente alto */
}

.btn_avatar{
  width: 7em;
  cursor: pointer;
  display: grid;
  justify-content: center;
  text-align: center;
}
.title_avatar {
  margin-top: -1em;
  font-weight: 800;
}
.title_create_avatar {
  position: absolute;
  top: 0;
  margin-left: 23%;
  margin-top: 5%;
 
}
.title_create_avatar img {
width: 25em;
}

.body_face {
  display: grid;
  position: fixed;
  left: 35%;
  transform: translateX(-50%);
  bottom: 0;
}



  .body_avatar  {
    width: 25em;
    z-index: 1;

  }
  .face_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 1;

  }
  .hair_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 2;
  }

  .eyes_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 1;
  }
  .eae_avatar {
    width: 25em;
    margin-bottom: -140%;
  }
  .nose_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 1;

  }
  .lips_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 1;

  }
  .eyebrows_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 1;

  }
  .galsees_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 1;

  }
  .caps_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 3;
  }
  .eaerarrings_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index: 3;
  }
  
  .moustache_avatar {
    width: 25em;
    margin-bottom: -140%;
    z-index:2;
  }
  
  


  .btn_exit img {
    width: 6em;
    cursor: pointer;

  }
  .btn_seconds{
    margin-top: 10%;
    display: grid;
    gap: 2em;
  

  }

  .menu {
    display: grid;
    justify-content: center;
    margin-top: -32em;
    margin-left: 65%;
    background-color: white;
    gap: 2px;
    padding: 3px;
    width: 30%;
    box-shadow:0px 7px 15px #000 ;

  }
  .box_type {
    display: flex;
    gap: 2px;
  }
  
  .type img{
    cursor: pointer;

  }
  .type img:hover{
    opacity: 0.2;

  }


  .datas {
    display: grid;
    justify-content: center;
    margin-top: 2em;
    margin-left: 65%;
    background-color: rgb(219, 219, 219);
    width: 30%;
    height: 20em;

    box-shadow:0px 7px 15px #000 ;
 
  }
 

  .box_datas {
    display: flex;
    margin-top: 1em;

  }
.result_menu img{
  max-width: 100%;
}

.result_menu:hover {
  max-width: 100%;
  cursor: pointer;
}


.options_select {
width: 30em;

}
.delete_delete {
  width: 2em;
}
  .seconds_data{
   
    overflow: scroll;
    overflow-x: hidden;
  
    
  }

  

 
  
  


  

 
 
  
  
   .color {
    display: flex;
    justify-content: center;
    margin-left: 65%;
    background-color: rgb(219, 219, 219);
    padding: 15px;
    width: 30%;

    box-shadow:0px 7px 15px #000 ;
 
  }

  .color img {
    width: 30%;
    cursor: pointer;
  }


@media (max-width: 1800px) {
  .title_create_avatar {
    position: absolute;
    top: 0;
    margin-left: 15%;
   
  }
  .title_create_avatar img {
  width: 22em;
  }
  .img_avatar img {
    width: 15em;
 max-width: 100%;

  }
  .btn_exit img {
    width: 5em;
    margin-left: -1em;
    max-width: 100%;

  }
.btn_seconds{
  margin-top: 5%;
  gap: 1em;
  max-width: 100%;


}
.menu {
 
  margin-top: -23em;
 max-width: 100%;

}



.result_menu img{
  margin-bottom: 2em;
}

.body_avatar  {
  width: 15em;
  z-index: 1;

}
.face_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 1;

}
.hair_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 2;
}

.eyes_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 1;
}
.eae_avatar {
  width: 15em;
  margin-bottom: -140%;
}
.nose_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 1;

}
.lips_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 1;

}
.eyebrows_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 1;

}
.galsees_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 1;

}
.caps_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 3;
}
.eaerarrings_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index: 3;
}

.moustache_avatar {
  width: 15em;
  margin-bottom: -140%;
  z-index:2;
}

.datas {
  display: grid;
  justify-content: center;
  margin-left: 65%;
  background-color: rgb(219, 219, 219);
  width: 30%;
  height: 10em;

  box-shadow:0px 7px 15px #000 ;

}

.color {
  display: flex;
  justify-content: center;
  margin-left: 65%;
  background-color: rgb(219, 219, 219);
  padding: 15px;
  width: 30%;

  box-shadow:0px 7px 15px #000 ;

}


}
  