.center_img {
    background: url("../../image/home/TITULAR.png");  
    background-repeat: no-repeat;
    background-size: cover; 
}

@media (max-width: 768px) {
    
    .center_rayos {
        margin: 0 auto;
     
        display: flex;
        align-items: center;
    }
}

